{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-index text-white text-center py-4">
    <div class="container d-flex align-items-center flex-column pt-2">
        <h2>Admin Dashboard</h2>
    </div>
</header>
<div class="p-3">
    <div class="container">
        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'home.admin-dashboard' %}">Most Purchased</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home.admin-comments' %}">Top Commenter</a>
            </li>
        </ul>
        <div class="row mt-3">
            <div class="col mx-auto text-center mb-3">
                <h4>Most Purchased Movie</h4>
                {% if template_data.most_purchased %}
                <p class="fs-5">
                    <strong>{{template_data.most_purchased.movie_name}}</strong>
                    - purchased {{template_data.most_purchased.total_purchased}} time(s)
                </p>
                {% else %}
                   <p class="fs-5 text-muted">No purchases have been made yet</p> 
                {% endif %}
            </div>
        </div>

        <div class="row mt-3">
            <div class="col mx-auto text-center mb-3">
                <h4>Most Commented Movie</h4>
                {% if template_data.top_commented_movie %}
                    <p class="fs-5">
                        <strong>{{ template_data.top_commented_movie.movie__name}}</strong>
                        - commented {{ template_data.top_commented_movie.total_comments }} time(s)
                    </p>
                {% else %}
                    <p class="fs-5 text-muted">No comments have been made yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}