{% extends 'base.html' %}
{% block extra_head %}
  {% include 'accounts/autocomplete_head.html' %}
{% endblock %}

{% block content %}

<div class="container py-5" style="max-width: 720px;">
  <h2>Edit Profile</h2>
  <hr />
  <form method="POST" novalidate>
    {% csrf_token %}

    <div class="mb-3">
      <label class="form-label" for="{{ template_data.form.username.id_for_label }}">Username</label>
      {{ template_data.form.username.errors }}
      {{ template_data.form.username }}
    </div>


    <div>
      <label class="form-label">US City</label>
      <div id="address-search" class="autocomplete-container" style="min-height: 44px;"></div>
    </div>

    {{ template_data.form.city }}
    {{ template_data.form.state }}
    {{ template_data.form.lat }}
    {{ template_data.form.lon }}


    <button type="submit"
      class="btn bg-dark text-white">Sign Up
    </button>
  </form>
</div>
{% endblock content %}

{% block extra_scripts %}
  {% include 'accounts/autocomplete_script.html' %}
{% endblock %}